#portfolio {
    background-color: rgb(26, 32, 44);
}

#profile-card {
    display: flex;
    margin: 72px 48px;
}

#profile-card-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

#profile-card-body {
    display: flex;
    flex-direction: column;

    padding: 0 36px;
}

#profile-card-body-title {
    display: flex;
    align-items: center;
}

#profile-card-body-title-text {
    margin: 0px 10px 0px 0px !important;
}

#profile-card-social-body {
    display: flex;
}

#profile-card-body-buttons-1 {
    color: #0d6efd;
}

#profile-card-body-buttons-2 {
    font-size: 20px;
    color: black;
}

#banner-text {
    font-size: 36px;
}

#full-name {
    font-size: 36px;
    color: #e31b6d;
}

